.mono {
  font-family: monospace;
}

.main {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 800px;
  border-radius: 40px;
  padding: 40px;
  text-align: center;
}

.main a, .main a:visited{
  color: white;
}

.main a:hover {
  color: silver;
}

.hint {
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(131,58,180);
 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}